header {
    background: #151515FF;
    width: 100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #e7e7e7;
    padding: 20px;
    font-size: 20px;

}

#mainmenu {
    background: #333333;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#sidemenu {
    background: #545454;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#mainmenu a {
    text-decoration: none;
    color: black;
}

#sidemenu a {
    text-decoration: none;
    color: white;
}

#mainmenu ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;

}

#sidemenu ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

#mainmenu li a {
    display: block;
    color: #e7e7e7;
    text-align: center;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-weight: bold;
}

#sidemenu li a {
    display: block;
    color: #e7e7e7;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    background: #3b399f;
    border-radius: 20px;
}

article ul {
    list-style-position: inside;
}

main {
    width: 100%;
    background: #545454;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
}

main img {
    align-items: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0;
    line-height: 1.5;
    background: #545454;
}

article {
    padding: 10px 40px 10px 40px;
    background-color: rgba(256, 256, 256, 0.7);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


footer {
    width: 100%;
    background-color: #333333;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#themes {
    display: flex;
    padding: 0;
}

.switch {
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    margin: 0.1em;
    border-radius: 50%;

}

[name="authorsTheme1"]{
    background: #004938;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #00d0d0;
}

[name="authorsTheme2"]{
    background: #ffa600;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #ffe799;
}

[name="authorsTheme3"]{
    background: #151515;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #3b399f;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3b399f;
    border-radius: 10px;
}

@media only screen and (min-width: 700px) {
    #mainmenu {
        font-size: 20px;
    }

    #sidemenu {
        font-size: 18px;
        width: 20%;
        background: #545454;
        margin-top: 70px;
    }

    #sidemenu li a{
        padding: 20px;
        margin: 30px;
    }

    main {
        width: 80%;
    }

    li a {
        padding: 0 60px 0 60px;
    }

    article {
        min-height: 570px;
        max-height: 570px;
        padding: 10px 140px 10px 140px;
        margin-top: 70px;
        margin-bottom: 70px;
        min-width: 70%;
        max-width: 70%;
        border-style: solid;
        overflow-y: auto;
        overflow-x: hidden;
    }


    footer {
        font-size: 18px;
    }
}
