header {
    background: #093A3E;
    width: 100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    padding: 20px;
    font-size: 20px;

}

#mainmenu {
    background: #6FAFC0;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#sidemenu {
    background: #eef6f8;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

#mainmenu a {
    text-decoration: none;
    color: black;
}

#sidemenu a {
    text-decoration: none;
    color: white;
}

#mainmenu ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;

}

#sidemenu ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

#mainmenu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-weight: bold;
}

#sidemenu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    background: #AC8887;
    border-radius: 20px;
}

article ul {
    list-style-position: inside;
}

main {
    width: 100%;
    background: #eef6f8;
    text-align: left;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
}

main img {
    align-items: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0;
    line-height: 1.5;
   background: #C5E0E6;
}

article {
    padding: 10px 40px 10px 40px;
    background-color: #eef6f8;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 4px;
    transform: translate(-50%, -50%);
    background-color: rgb(256,256,256,0.5);
    border-radius: 20px;

}

.container {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

footer {
    width: 100%;
    background-color: #6FAFC0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#themes {
    display: flex;
    padding: 0;
}

.switch {
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    margin: 0.1em;
    border-radius: 50%;

}

[name="infoTheme1"]{
    background: #004938;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #00d0d0;
}

[name="infoTheme2"]{
    background: #ffa600;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #ffe799;
}

[name="infoTheme3"]{
    background: #151515;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #3b399f;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #AC8887;
    border-radius: 10px;
}

@media only screen and (min-width: 700px) {
    #mainmenu {
        font-size: 20px;
    }

    #sidemenu {
        font-size: 18px;
        width: 20%;
        background: #C5E0E6;
        margin-top: 70px;
    }

    #sidemenu li a{
        padding: 20px;
        margin: 30px;
    }

    main {
        width: 80%;
        background: #C5E0E6;
    }

    li a {
        padding: 0 60px 0 60px;
    }

    article {
        min-height: 570px;
        max-height: 570px;
        padding: 10px 140px 10px 140px;
        margin-top: 70px;
        margin-bottom: 70px;
        min-width: 70%;
        max-width: 70%;
        border-style: solid;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container {
        font-size: 25px;
    }

    .centered {
        top: 50px;
        padding: 12px;
    }

    footer {
        font-size: 18px;
    }
}
