body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

h1, h2 {
    font-family: 'Red Hat Display', sans-serif;
}

header {
    background: #ffa600;
    width: 100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #003098;
    padding: 20px;
    font-size: 20px;

}

main {
    width: 100%;
    background: #ffe799;
}

article {
    padding: 10px 70px 0px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    background: #ffeb33;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 14px;
    display: flex;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: #000d98;
    text-align: center;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    padding: 15px;
}

#map {
    width: 100%;
    height: 55vh;
    margin: 0px 0px 10px 0px;
}

#name, #navigate {
    width: 50%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: large;
}

#navigate {
    width: 100%;
    display: flex;
    justify-content: right;
}

#navigate a {
    display: block;
    line-height: 3rem;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    color: #003098;
    background-color: #ffa600;
    box-sizing: border-box;
    padding: .5rem;
    text-decoration: none;
    border-radius: 15px;
}

#nav {
    font-family: 'Red Hat Display', sans-serif;
    background:#ff6324;
    color: #003098;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
}

#address, #whereWhenDuration, #description, #website{
    width: 100%;
    margin: 0.3rem 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

#whereWhenDuration {
    line-height: 1.5;
}

#website a:link {
    color: black;
    font-weight: bold;
}

#website a:hover {
    color: #AC8887;
    font-weight: bold;
}

.container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #FFE799FF;
}

.checkboxes {
    padding: 0 70px 20px 70px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

/* leaflet ikonit */
.red-icon {
    background: #ff6324;
    border: 5px solid rgba(255, 255, 255, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

.green-icon {
    background: #2758ba;
    border: 5px solid rgba(255, 255, 255, 0.5);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

footer {
    width: 100%;
    background-color: #ffeb33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

#themes {
    display: flex;
    padding: 0;
}

#print{
    padding: 10px 40px 10px 40px;
    margin-top: 20px;
    background-color: rgba(256, 256, 256, 0.7);
    border-style: dashed;
    overflow-y: auto;
    max-height: 200px;
    width: 200px;
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
}

#print h3 {
    font-size: 17px;
}

#print br {
    display: block;
    content: "";
    margin-top: 30px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.switch {
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
    margin: 0.1em;
    border-radius: 50%;

}

[name="mainTheme1"]{
    background: #004938;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #00d0d0;
}

[name="mainTheme2"]{
    background: #ffa600;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #ffe799;
}

[name="mainTheme3"]{
    background: #151515;
    -webkit-box-shadow: inset 0 2.1em 0 -1.6em #3b399f;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ff6324;
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    #nav {
        font-size: 20px;
        padding: 10px;
        margin-right: 70px;
    }

    nav {
        font-size: 20px;
    }

    li a {
        padding: 0 60px 0 60px;
    }

    footer {
        font-size: 18px;
    }

    .checkboxes {
        font-size: 18px;
    }

    #print {
        width: 900px;
        font-size: 16px;
        line-height: 0.6;
    }

    #print h3 {
        font-size: 18px;
    }

    #description {
        max-width: 1000px;
    }

    #address, #whereWhenDuration, #description, #website {
        font-size: 18px;
    }

    footer {
        font-size: 18px;
    }
    #name{
        font-size: x-large;
    }
    #map {
        width: 100%;
        height: 55vh;
        margin: 70px 70px 10px 70px;
    }

}
