header {
    background: #086788;
    width: 100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: white;

}

aside {
    background: #4396AC;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 20px;
}

aside a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

main { width: 100%;
    background: #7EC4CF;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

article {
    background: #F0F8F9;
    margin: 50px;
    padding: 20px;
}

@media only screen and (min-width: 600px) {
    aside { width: 25%; }
    main { width: 75%; }
}
