header {
    background: #093A3E;
    width: 100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    padding: 20px;
    font-size: 20px;

}

aside {
    background: #6FAFC0;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    line-height: 200%;
    font-size: 14px;
    display:flex;
    justify-content: center;

}

aside a {
    text-decoration: none;
    color: black;
    line-height: 300%;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

main { width: 100%;
    background: #C5E0E6;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

article {
    margin: 50px;
    padding: 30px;
    background: white;
    border-style: dashed;
}

@media only screen and (min-width: 600px) {
    aside {
        width: 25%;
        font-size: 20px;
    }
    li {
        float: none;
    }
    main { width: 75%; }
    header { width: 100%; }

}
